
:root{
    --color-primary: #ffffff;
    --color-div: #1c2328;
    --color-dark: #111111;
    --color-accent: #f5f0eae5;
    --color-sale: #E63946;
    --color-white: #FFFFFF;
    --color-background: #706666;
    --color-secondary: #6B7280;
    --color-border: #E5E7EB;

    --font-heading: "Playfair Display", serif;
    --font-body: "Inter", sans-serif; 

    --h1-size: 64px;
    --h2-size: 48px;
    --h3-size: 36px;
    --h4-size: 28px;
    --h5-size: 22px;
    --h6-size: 18px;

    --text-large: 18px;
    --text-medium: 16px;
    --text-regular: 15px;
    --text-small: 14px;
    --text-tiny: 12px;

    --weight-regular: 400;
    --weight-medium: 500;
    --weight-semibold: 600;
    --weight-bold: 700;
    --weight-extrabold: 800;
}

body {
    font-family: var(--font-body);
    color: var(--color-dark);
    background:  var(--color-primary);
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

h1, .heading-h1 {
  font-family: var(--font-heading);
font-weight: var(--weight-bold);
  font-size: var(--h1-size);
  line-height: 110%;
  letter-spacing: -1px;
}
 button {
  font-family: var(--font-body);
  font-weight: var(--weight-medium);
  font-size: var(--h6-size);
  line-height: 110%;
  letter-spacing: -1px;
}

h2, .heading-h2 {
  font-family: var(--font-heading);
  font-weight: var(--weight-bold);
  font-size: var(--h2-size);
  line-height: 110%;
}

h3, .heading-h3 {
  font-family: var(--font-heading);
  font-weight: var(--weight-semibold);  font-size: var(--h3-size);
  line-height: 120%;   
}

h4, .heading-h4 {
  font-family: var(--font-heading);
  font-weight: var(--weight-semibold);
  font-size: var(--h4-size);
  line-height: 120%;
}

h5, .heading-h5 {
  font-family: var(--font-heading);
  font-weight: var(--weight-medium);
  font-size: var(--h5-size);
  line-height: 130%;
}

/* txt */
.text-primary{color:var(--color-primary);}
.text-dark{color:var(--color-dark);}
.text-secondary{color:var(--color-secondary);}
.text-accent{color:var(--color-accent);}
.text-sale{color:var(--color-sale);}
.text-white{color:var(--color-white);}

/* background */
.bg-primary {background-color: var(--color-primary);}
.bg-div {background-color: var(--color-div);}
.bg-dark {background-color: var(--color-dark);}
.bg-accent {background-color: var(--color-accent);}
.bg-sale {background-color: var(--color-sale);}
.bg-light {background-color: var(--color-background);}
.bg-white {background-color: var(--color-white);}

/* border */
.border-light {border-color: var(--color-primary)}

/* card */
.shadow-card {
  box-shadow: 0px 4px 32px 0px #00000014;
}



/* product */
.product-card {
  background: var(--color-white);
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.3s ease;
}

.product-card:hover {
  transform: translateY(-6px);
  box-shadow: 0px 20px 40px rgba(0,0,0,0.08);
}

/* product image */
.product-image {
  transition: transform 0.4s ease;
}

.product-card:hover .product-image {
  transform: scale(1.05);
}

/* bagde */
.badge-sale {
  background-color: var(--color-sale);
  color: var(--color-white);
  font-size: 12px;
  padding: 4px 10px;
  border-radius: 999px;
  font-weight: var(--weight-semibold);
}



@layer components {
  .container{
    @apply max-w-7xl mx-auto p-2;
  }
}

 @media (max-width: 1024px) {
  h1 { font-size: 52px; }
  h2 { font-size: 40px; }
  h3 { font-size: 32px; }
  h4 { font-size: 26px; }
} 

@media (max-width: 768px) {
  h1 { font-size: 42px; }
  h2 { font-size: 34px; }
  h3 { font-size: 26px; }
  h4 { font-size: 22px; }
}

